/* ERROR MESSAGE */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

/* SWITCH LINK */
.switch-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.switch-link a {
  color: #ffd700;
  text-decoration: underline;
  font-weight: bold;
}

.switch-link a:hover {
  color: white;
}
